.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.cart .cart-products {
    display: flex;
    flex-direction: column;
    width: 850px;
    position: unset;
}
.cart .cart-products .cart-process {
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;
}
.cart .cart-products .cart-process .process {
    flex-grow: 1;
    width: 33.33%;
    background: #ededed;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: skewX(-20deg);
}
.cart .cart-products .cart-process .process.active {
    background-color: #005ec4;
}
.cart .cart-products .cart-process .process span {
    font-weight: 700;
    font-size: 18px;
    color: #4e4e54;
    padding: 7px 0;
    transform: skewX(20deg);
} 
.cart .cart-products .cart-process .process.active span {
    color: #fff;
}
.cart .cart-products .cart-process .process:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
.cart .cart-products .cart-process .process span {
    font-weight: 700;
    font-size: 18px;
    color: #4e4e54;
    padding: 7px 0;
    transform: skewX(20deg);
}
.cart .cart-products .form-checkout .group-info {
    border-bottom: 1px solid #dddfe6;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.cart .cart-products .form-checkout .group-info:last-child {
    border: none;
}
.cart .cart-products .form-checkout .group-info .title {
    font-weight: 700;
    font-size: 20px;
    color: #29324e;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.cart .cart-products .form-checkout .group-info .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.cart .cart-products .form-checkout .group-info .input-group label {
    width: 190px;
    font-size: 16px;
    color: #333;
}
.input-group input[type=email], .input-group input[type=tel], .input-group input[type=text], .input-group textarea {
    flex-grow: 1;
    background: #f0f3fc;
    border: none;
    text-indent: 12px;
}
.cart .cart-products .form-checkout .group-info .input-group textarea {
    height: 90px;
    padding-top: 12px;
    outline-style: none;
}
.group-info .input-group input {
    height: 46px;
}
.cart .cart-products .form-checkout .group-info:last-child {
    border: none;
}
.cart .cart-products .form-checkout .group-info .title {
    font-weight: 700;
    font-size: 20px;
    color: #29324e;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.cart .cart-products .form-checkout .group-info.pay-method .input-group input[type=radio] {
    width: 24px!important;
    height: 24px;
    margin-right: 16px;
}
.cart .cart-products .form-checkout .group-info.pay-method .input-group label {
    white-space: nowrap;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.cart .cart-products .form-checkout .group-info .bank-option {
    padding-left: 41px;
}
.cart .cart-products .form-checkout .group-info .bank-option>div p:first-child {
    font-weight: 700;
}
.cart .cart-products .form-checkout .group-info .bank-option>div {
    margin-bottom: 20px;
}
.cart .cart-products .form-checkout .group-info .bank-option>div p {
    margin-bottom: 10px;
}
.cart .cart-total-prices {
    flex-basis: 356px;
    margin-left: 26px;
}
.cart .cart-total-prices .cart-prices {
    background: #f0f3fc;
    padding: 20px 50px;
    margin-bottom: 24px;
    color: #29324e;
    width: 400px;
}
.cart .cart-total-prices .cart-prices .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}
.cart .cart-total-prices .cart-prices div {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.cart .cart-total-prices .cart-prices div .p-count {
    color: #005ec4;
    font-weight: 700;
}
.cart .cart-total-prices .cart-prices div .price {
    color: #f9495f;
    font-size: 20px;
}
.cart .cart-total-prices .cart-prices .cart-item {
    flex-direction: column;
    border-top: 1px solid #dddfe6;
    padding-top: 16px;
}
.cart .cart-total-prices .cart-prices div {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.cart .cart-total-prices .cart-prices .cart-item .product-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #005ec4;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content, .cart .cart-total-prices .cart-prices .cart-item .product-content .collapse {
    flex-direction: column;
    margin-bottom: 0;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content, .cart .cart-total-prices .cart-prices .cart-item .product-content .collapse {
    flex-direction: column;
    margin-bottom: 0;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content .collapse .collapse-header {
    color: #005ec4;
    cursor: pointer;
    justify-content: left;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content .collapse .collapse-header i {
    margin-right: 10px;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content .collapse .collapse-body .short-desc {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.5em;
}
.cart .cart-total-prices .cart-prices .cart-item .product-content .cart-item-price {
    text-align: right;
    align-self: flex-end;
    color: #000;
    padding-top: 20px;
}
.cart .cart-total-prices .cart-prices a.go-checkout {
    background: #005ec4;
    color: #fff;
    border-color: #005ec4;
}
.cart .cart-total-prices .cart-prices a:last-child {
    margin-bottom: 0;
}
.input-group input.validate {
    border: 2px solid red ;
    background-color: #ffeeee;
    color: red;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}